

/* CSS teksten */



.menu-case-title {
    font-family: "Titillium Web" !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-style: 600 !important;
    color: red !important;
    font-weight: normal !important;
}

.menu-case-descr {
    font-family: "Titillium Web" !important;
    font-size: 11px !important;
    line-height: 18px !important;
    font-style: 400 !important;
    color: red !important;
    font-weight: normal !important;
}

.module-title {
    font-family: "Titilium Web" !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-style: 700 !important;
    color: red !important;
    font-weight: normal !important;
}

.case-title {
    font-family: "Titilium Web" !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-style: 700 !important;
    color: red !important;
    font-weight: normal !important;
}

.case-subtitle {
    font-family: "Titilium Web" !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-style: 400 !important;
    color: red !important;
    font-weight: normal !important;
}

.body-txt {
    font-family: "Titillium Web" !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-style: 400 !important;
    color: red !important;
    font-weight: normal !important;
}

.body-ul {
    list-style-type: circle !important;
    font-family: "Titillium Web" !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-style: 400 !important;
    color: red !important;
    font-weight: normal !important;
}

.body-bold {
    font-family: "Titilium Web" !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-style: 700 !important;
    color: red !important;
    font-weight: normal !important;
}


/* Open tekstvelden stylen */


.entry1 {
    box-sizing: border-box;
    display: inline-block;
    border: 2px #D4E8EB solid;
    padding: 10px 15px;
    color: #288E9A;
    font-family: "Titillium Web";
    font-size: 16px;
    line-height: 24px;
    width: 559px;
    height: 112px;
}

.entry1:focus {
    border: 2px solid #7EBBC2;
}
